* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}


body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(
        135deg,
        #0f172a,
        #1e293b
    );

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}


.container {

    width: 90%;
    max-width: 800px;

    text-align: center;

    padding: 40px;

}


h1 {

    font-size: 45px;
    letter-spacing: 3px;

}


h2 {

    font-weight: 400;
    color: #cbd5e1;

}


p {

    color: #e2e8f0;
    line-height: 1.6;

}


.chat-box {

    margin-top: 35px;

    background: rgba(255,255,255,0.08);

    border-radius: 20px;

    padding: 25px;

    backdrop-filter: blur(10px);

}


.avatar {

    width: 80px;
    height: 80px;

    margin: auto;

    border-radius: 50%;

    background: white;
    color: #0f172a;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size: 40px;
    font-weight: bold;

}


.options {

    margin-top: 30px;

    display:grid;

    gap:15px;

}


button {

    padding: 18px;

    border:none;

    border-radius:15px;

    cursor:pointer;

    font-size:16px;

    background:white;

    color:#0f172a;

    transition:0.3s;

}


button:hover {

    transform:scale(1.03);

}